.bg-color {
  background-color: cyan;
  transition: all 0.3s ease;
}

@media (min-width: 350px) {
  .bg-color {
    background-color: white;
  }
}
@media (min-width: 500px) {
  .bg-color {
    background-color: black;
  }
}
@media (min-width: 700px) {
  .bg-color {
    background-color: azure;
  }
}
